
<h1 class="text-center mt-4">Edit Category</h1>
<%= render 'form' %>
<div class="mb-5 text-center mt-4">
      <%= link_to "[ Cancel and return to category ]", category_path(@category), class: "text-info" %>
</div>
