<h1 class="text-center mt-4 mb-3">Create a new category</h1>
  <%= render 'form' %>
<div class="mb-5 text-center mt-4">
  <%= link_to "[ Cancel and return to categories ]", categories_path, class: "text-info" %>
</div>



